<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center mb-4">Welcome, {{ name }}</h2>
        <div class="text-center">
            <a href="{{ url_for('create_event') }}" class="btn btn-primary mb-3">Create New Event</a>
        </div>
        <p class="text-center"><a href="{{ url_for('logout') }}">Logout</a></p>
    </div>
</body>
</html>
